.sfera-grigia{
width:16px;
height:16px;
border-radius:50%;
background:radial-gradient(circle at 30% 30%,white,grey 60%,darkgrey);
color:--lumo-primary-text-color;
font-size:20px;
border:none;
cursor:pointer;
box-shadow:inset -10px -10px 15px rgba(0,0,0,0.5)
inset 10px 10px 15px rgba(255,255,255,0.5);
}
.sfera-rossa{
width:16px;
height:16px;
border-radius:50%;
background:radial-gradient(circle at 30% 30%,white,red 60%,darkred);
color:--lumo-primary-text-color;
font-size:20px;
border:none;
cursor:pointer;
box-shadow:inset -10px -10px 15px rgba(0,0,0,0.5)
inset 10px 10px 15px rgba(255,255,255,0.5);
}
.sfera-verde{
width:16px;
height:16px;
border-radius:50%;
background:radial-gradient(circle at 30% 30%,white,green 60%,darkgreen);
color:--lumo-primary-text-color;
font-size:20px;
border:none;
cursor:pointer;
box-shadow:inset -10px -10px 15px rgba(0,0,0,0.5)
inset 10px 10px 15px rgba(255,255,255,0.5);
}
.sfera-blue{
width:16px;
height:16px;
border-radius:50%;
background:radial-gradient(circle at 30% 30%,white,blue 60%,darkblue);
color:--lumo-primary-text-color;
font-size:20px;
border:none;
cursor:pointer;
box-shadow:inset -10px -10px 15px rgba(0,0,0,0.5)
inset 10px 10px 15px rgba(255,255,255,0.5);
}
.sfera-azure{
width:16px;
height:16px;
border-radius:50%;
background:radial-gradient(circle at 30% 30%,white,cyan 60%,darkturquoise);
color:--lumo-primary-text-color;
font-size:20px;
border:none;
cursor:pointer;
box-shadow:inset -10px -10px 15px rgba(0,0,0,0.5)
inset 10px 10px 15px rgba(255,255,255,0.5);
}
.rettangolo-yellow{
width:30px;
height:16px;
background:radial-gradient(circle at 30% 30%,white,yellow 60%,yellow);
color:--lumo-primary-text-color;
font-size:20px;
border:none;
cursor:pointer;
box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
}